.credits-container {
  //START height - 70px of the footer
  height: 100%;
  height: -webkit-calc(100% - 70px);
  height: -moz-calc(100% - 70px);
  height: calc(100% - 70px);
  //END height - 70px of the footer
  overflow: scroll;
  .credits {
    margin: 40px;
  }
}
