.all-sim-projects-montage {
  //START height - 70px of the footer
  height: 100%;
  height: -webkit-calc(100% - 70px);
  height: -moz-calc(100% - 70px);
  height: calc(100% - 70px);
  //END height - 70px of the footer
  overflow: scroll;
  .sim-projects-montage {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .videos-container {
      padding: 20px;
      width: 90%;
      margin: auto;
      text-align: center;
      h2 {
        font-family: 'Varela Round', sans-serif;
        font-size: 1em;
      }
      .videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .video-container {
          margin: 10px 10px 10px 0;
          background-color: white;
          padding: 10px;
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
          a {
            img {
              width: 320px;
            }
          }

          .video-desc {
            .cat-title {
              margin: 15px 5px 0 5px;
            }
            .vid-title {
              margin: 0px 5px 15px 5px;
            }
            p {
              font-family: 'Varela Round', sans-serif;
              font-size: 0.9em;
              text-align: left;
              a {
                text-decoration: none;
                color: rgb(48, 48, 48);
              }
              a:hover {
                color: rgb(0, 92, 128);
              }
            }
          }
        }
      }
    }
  }
}
