<section class="all-sim-footer">
  <div class="sim-footer">
    <p class="text-footer">
      © 2020 Simon Vaissière - Réalisateur. Tous droits réservés. Site web créé
      par
      <a href="https://www.ngocle.fr">Ngoc Le</a> -
      <a routerLink="/credits">Mentions légales</a>
    </p>
  </div>
</section>

<section class="all-sim-footer-small">
  <div class="sim-footer-small">
    <p class="text-footer-small">
      © 2020 Simon Vaissière. Site par
      <a href="https://www.ngocle.fr">Ngoc Le</a>.
    </p>
  </div>
</section>
