<section class="sim-projects">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/z73FiYt1puU"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/0WzARG9cn8w"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/SP8dmklEfFc"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/szpyom1umLM"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>
